.cardContainer {
  display: flex;
  border-radius: 17px;
  border-left: 17.16px solid #2691a3;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#pdfFile{
  display: none;
}
.deleteButtonIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}
.TitleListTitle {
  color: #2691a3;
  text-decoration-color: black !important;
  text-decoration: underline;
  font-size: 18px;
  text-transform: capitalize;
}
.keyTitleCount {
  color: black;
  font-weight: bold;
}
.descPopUp {
  display: flex;
  width: 90%;
  align-items: flex-start;
  padding: 20px;
  font-size: 16px;
  font-weight: normal;
}
.FileNamea {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  width: 200px;
  height: 30px;
  white-space: nowrap;
}
.FileName {
  font-size: 10px !important;
  text-align: center;
}
.deleteButtonIcon:active {
  color: red;
}
.addLogo .logoProfile img {
  width: 100px;
  height: 100px;
}
.centerbtn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.centerButtonContainerBulk .centerbtn {
  min-width: 90px;
  justify-content: center;
  text-align: center;
}
.centerButton3 {
  cursor: pointer;
}
.addLogo {
  width: 66px;
  height: 66px;

  font-size: 6.8px;
  font-weight: 600;
  color: #2691a3;
  border-radius: 15.09px;
  background-color: rgba(85, 143, 211, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navButtonTitle {
  color: white;
}
.iconAndInputContainer {
  display: flex;
  flex-direction: column;
  gap: 10.92px;
}

.ContactAndEdit {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.iconContainer {
  width: 21.34px;
  height: 21.34px;
  border-radius: 2.32px;
  background-color: #eef4fb;
  transform: rotateZ(45deg); /* CSS3 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconContainer * {
  width: 15.93px !important;
  height: 15.93px !important;
  /* transform: rotateZ(-30deg); */
}
.iconAndInput {
  display: flex;
  gap: 10.92px;
}
.SocialmediaContainer {
  width: max-content;
  border-radius: 15px;
  margin-left: 57px;
  margin-top: 26px;
  padding: 16px 37.91px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.inputContainer input {
  border: none;
  background-color: #eef4fb;
  border-radius: 4px;
  height: 22px;
  width: 179px;
  padding: 0px 5px;
}

/*Card Area*/
.cardAreaContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  border-left: 17.16px solid #2691a3;
  border-radius: 15px;
  padding: 20px 36px 11px 20px;
}
.areaCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centerIconAndTitleContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  /* gap: 52px; */
}
.centerIconAndTitleContainer .centerTitle {
  color: #2691a3;
}
.centerIconAndTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.centerTitleMain {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 533px;
  font-weight: 600;
}
.centerButtonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  margin-top: 11px;
}
.centerButton1 {
  background-color: #ffb934 !important;
}
.centerButton2 {
  background-color: #ff6667 !important;
  cursor: pointer;
}
.areaCenter {
  background-color: #eef4fb;
  border-radius: 15px;
  padding: 15px 23px 22px 21px;
  width: 577px;
  position: relative;
}
.centerTitle {
  font-size: 7px;
  font-weight: 500;
  text-align: center;
  /* width: 36px; 
   height: 18px; */
}
.areaTitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
}
.centerTitleMain {
  font-size: 12px;
  color: #2691a3;
}

.centerIcon img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.centerbtn {
  z-index: 90;
  /* display: flex; */
  /* width: min-content; */
  align-self: flex-end !important;
  background-color: #2691a3;
  border-radius: 7px;
  color: white;
  border: none;
  /* margin-top: 25px; */
  padding: 9px 16px;
  font-size: 13px;
  /* position: static;
  right: 0; */
}

.categoryContainer .singleCategory {
  font-size: 10px;
  font-weight: 500;
  border: 2px #2691a3 solid;
  color: #2691a3;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  padding: 5.5px 16px;
  border-radius: 7px;
  cursor: pointer;
}
.cardListsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}
.hidebackground {
  /* background-color: inherit !important; */
}
.listCardTitle {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 7px;
}

.cardListsContainer {
  padding: 19px 37px 11px 37px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
}
.cardUploadContainer {
  padding: 19px 21px 16px 21px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardUploadContainer .uploadDesc {
  width: 217px;
  height: 76px;
  padding: 14px 20px;
  font-size: 11px;
  background-color: rgba(85, 143, 211, 0.1);
  border-radius: 15px;
}
#uploadBtn * {
  cursor: pointer;
}
#uploadBtn {
  z-index: 333;
  cursor: pointer;
}
.uploadBtn {
}
.uploadbuttons {
  justify-content: center !important;
  gap: 6px !important;
}
.resourceAreaContainer {
  padding: 20px 25px 11px 25px;
  border-radius: 17px;
  border-left: 17.16px solid #2691a3;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.resourceAreaContainer .centerTitleMain {
  text-align: justify;
  font-size: 12px;
  min-width: 526px;
  align-self: center;
}
.resourceAreaContainer span {
  font-size: 12px;
  color: #2691a3;
}
.resourceAreaContainer .radiobtn {
  display: flex;
  z-index: 444;
  align-items: center;
}
.inputResourceContainer {
  display: flex;
  gap: 41px;
  margin-top: 15px;
}
.inputResourceContainer input {
  background-color: inherit;
}
.inputResourceContainer input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #2691a3;
}
.backAdd{
  background-color: #2691a3 !important;
  color: white !important;
}

.resourceCategorySingle{
  z-index: 44444444 !important;
  /* background-color: white !important; */
}
.listResourceContainer {
  display: flex;
  align-items: center;
}
.TitleListContainerSingle .listResourceTitle{
  width: max-content !important;
}
.TitleListContainerSingle{
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}
.TitleListContainerSingle .fffffff{
  flex: 1 !important;
  flex-wrap: wrap;
}
.TitleListContainerSingle .resourceCategory{
  width: max-content;
  height: min-content;
}
.closeTag:hover{
  background-color: #2691a3;
}
.closeTag{
  z-index: 300;
}
.resourceCategory {
  font-size: 10px;
  font-weight: 500;
  border: 2px #2691a3 solid;
  color: #2691a3;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  padding: 5.5px 16px;
  border-radius: 7px;
}

.CardViewResource {
  margin-top: 26px;
  padding: 19px 42px 13px 42px;
  border-radius: 17px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.viewTitle {
  margin-bottom: 30px;
}
.CardViewResource .textAreaLink {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  cursor: pointer;
}

.bulkDesc {
  max-width: 231px;
  font-size: 9px;
  font-weight: 500;
  text-align: center;
  margin: 23px 0px;
}
.bulkuploadContainer {
  padding: 16px 31px 11px 31px;
  border-radius: 17px;
  border-left: 17.16px solid #2691a3;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}

.bulkLeftInput input {
  /* display: block !important; */
  /* width: 157px !important;
  height: 57px !important; */
  opacity: 0 !important;
  overflow: hidden !important;
  position: absolute;
  cursor: pointer;
}
.buldIconCont {
  cursor: pointer;
  height: min-content;
  width: min-content;
  background-color: rgba(85, 143, 211, 0.1);
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 9px;
  /* padding: 30px; */
}
.bulkLeftInput .docTitle {
  font-size: 10px;
  font-weight: 500;
  color: #2691a3;
}
.bulkTitle {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.bulkLeftInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bulkInputContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.centerButtonContainerBulk {
  margin-top: 43px;
  display: flex;
  justify-content: center;
}

/* CARD RESOUCE TRENDING */

.CardSurveyTrending {
  margin-top: 0 !important;
  border-left: 17.16px solid #2691a3;
}

.CardResourceTrending {
  margin-top: 20px;
  padding: 13px 25px 9px 25px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.requestContainer {
  height: 176px !important;
  width: 244px !important;
}
.poptrend {
  width: auto !important;
  height: 100% !important;
  background-color: inherit !important;
}
.trendingContainer {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px;
  width: 249px;
  border-radius: 15px;
  background-color: rgba(85, 143, 211, 0.1);
}
.challendeArea {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.trendingListItem {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #2691a3;
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 4px;
  margin-top: 4px;
}
.trendingTitle {
  margin-bottom: 7px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.CardResourceTrending .textAreaLink {
  margin: 9px 0px;
}
.textAreaLink {
  cursor: pointer;
}

.cardPromote {
  padding: 24px 63px 0px 63px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.centerbtnPromote {
  display: flex;
  justify-content: center;
  width: max-content;
  align-self: center !important;
  margin: 26px 0px;
}

.CardInput {
  font-size: 16px;
  font-weight: 600;
  color: black !important;
}

.surveyAreaContainer {
  padding: 20px 25px;
  border-radius: 17px;
  border-left: 17.16px solid #2691a3;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.buttonContainerSurvey .centerbtnQ {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonContainerSurvey {
  display: flex;
  font-size: 13px;
  gap: 10px;
  margin-bottom: 18px;
}
.buttonContainerSurvey .centerbtn1 {
  background-color: #ffb934;
}
.surveyTitleContainer {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #2691a3;
  width: 577px;
  margin-bottom: 10px;
}
.surveyTitlecenter {
  display: flex;
  justify-content: center;
}
.surveyTitleContainer .surveyTitle {
  flex: 1;
}
.surveyTitleContainer .surveyTitleLink {
  flex: 3;
}

/* SUREVEY TRENDING */

.CardSurveyTrendsContainer {
  margin-top: 26px;
  padding: 19px 51px 10px 37px;
  border-radius: 17px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.surveyTypeContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.typeContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.typeContainer .typeTitle {
  flex: 2;
  font-size: 12px;
  font-weight: 600;
}
.typeContainer .allIconsContainer {
  flex: 7;
  border-radius: 3px;
}
.typeContainer .typeColor {
  flex: 7;
  border-radius: 3px;
  background-color: #ff6667;
  height: 30px;
}
.typeColor1 {
  background-color: #a6d0c4 !important;
}
.typeColor2 {
  background-color: #ffb934 !important;
}
.typeColor3 {
  background-color: #ff6667;
}
.trendTitle{
  text-align: left;
}

/*PERMA SPREAD*/
.CardSurveyPERMA {
  margin-top: 26px;
  padding: 27px 14px 34px 14px;
  
  border-radius: 17px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}

.CardSurveyPERMA .permaTitle {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 17px;
}
.CardSurveyPERMA .maintainTitle {
  font-size: 14px;
  font-weight: bold;
  flex: 1;
}
.mainAndSub {
  display: flex;
  position: absolute;
  width: auto;
  left: 0;
  top: 180px;
  padding: 0px 6px;
}
.selectedAreaClicked {
  padding-bottom: 200px !important;
}
.mainAndSub .categoryContainer {
  position: relative;
  margin-bottom: 90px;
}
.permasContainer {
  padding: 6px 6px 0px 11px;
  border: 2px solid #2691a3;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
}
.mainContainers {
  width: calc(100vw - 310px) !important;
  overflow: hidden;
}
.maintainContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.maintainCheckboxs {
  flex: 2;
}
.maintainCheckboxs {
  display: flex;
  gap: 6px;
}
.CardSurveyPERMA .mainChecbox {
  width: 31px;
  height: 31px;
  border-radius: 5px;
  background-color: #2691a3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.CardSurveyPERMA .supportChecbox {
  width: 31px;
  height: 31px;
  border-radius: 5px;
  background-color: #93d3c5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.CardSurveyPERMA .asupportChecbox {
  width: 31px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

/* QUESTIONS TAB */

.CardQuestionsAreaContainer {
  padding: 8px 16px 12px 27px;
  border-radius: 17px;
  border-left: 17.16px solid #2691a3;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.questionTitleContainer {
  display: flex;
  gap: 25px;
  align-items: center;
}
.questionTitleContainer .buttonContainerSurvey {
  align-items: center;
  display: flex;
}
.questionTitleContainer .questionAsked {
  display: flex;
  align-items: center;
}
.questionsContainer {
  padding: 8px 36px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: 15px;
  background-color: rgba(85, 143, 211, 0.1);
}
.questionInputContainer input:focus {
  border: 2px solid #2691a3;
  border-radius: 4px;
}
.questionInputContainer input {
  border: 2px solid #2691a3;
  width: 497px;
  height: 33px;
  border-radius: 4px;
}
.questionInputContainer .inputTitle {
  font-size: 12px;
  font-weight: bold;
  color: #2691a3;
}
.questionTextare {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
.questionTextare textarea {
  width: calc(100% - 20px);
  height: 58px;
  padding: 5px;
  resize: none;
  border: 1px solid #2691a3;
  align-self: center;
  border-radius: 4px;
}
.questionTextare textarea:focus {
  width: 100%;
  padding: 5px;
  resize: none;
  outline: #2691a3;
  border: 2px solid #2691a3;
}
.questionTextare textarea::-webkit-input-placeholder {
  color: gray;
}
.questionTextare .buttonContainerSurvey {
  display: flex;
  justify-content: flex-end;
}

/* CardQuestionRating   */

.CardQuestionRatingContainer {
  margin-top: 26px;
  padding: 19px 37px 7px 37px;
  border-radius: 17px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.qRatingsContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.qRetingTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
.CardQuestionsAreaContainer .nextbtn {
  margin-top: 13px;
  display: flex;
  justify-content: flex-end !important;
  align-self: flex-end !important;
}

/* CardOverviewEndingCounter */

.CardOverviewEndingContainer {
  padding: 29.75px 36.9px 0px 37.54px;
  border-radius: 17px;
  border-left: 17.16px solid #2691a3;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.CardOverviewEndingContainer .endingTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.firstEnding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.endingContainer {
  display: flex;
  gap: 9px;
}
.firstCounter {
  text-align: center;
}
.endingContainer .firstColor,
.firstCounter {
  font-size: 12px;
  font-weight: bold;
}
.endingContainer .firstColor {
  width: 31px;
  height: 31px;
  background-color: #2691a3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstColor {
  background-color: #e9666b !important;
}
.firstColor2 {
  background-color: #ee7d2f !important;
}
.firstColor3 {
  background-color: #f7bb1f !important;
}
.firstColor4 {
  background-color: #9ad2c5 !important;
}
.firstColor5 {
  background-color: #4aa9bf !important;
}
.firstColor6 {
  background-color: #3e93a7 !important;
}

.ThirdCardContainer {
  display: flex;
}

/*   CardOverviewCheckContainer   */

.CardOverviewCheckContainer {
  border-left: 17.16px solid #2691a3;

  margin-top: 26px;
  padding: 29.75px 0px 18px 56px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  max-width: 250px;
  font-size: 11px;

  font-weight: 500;
  height: max-content;
}
.overCheckTitle {
  margin-bottom: 13px;
  font-size: 14px;
  font-weight: bold;
}
.feelingContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.singleFeeling {
  display: flex;
  gap: 1px;
  color: white;
}
.feelCounter {
  padding: 0px 10px;
  background-color: #ff6667;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
/* .feelingButton .singleFeeling{

  display: flex;
  justify-content: center;
  align-self: center;
} */
.feelingButton {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}
.feelTitle {
  border-radius: 4px;
  min-width: 76px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6667;
}
.feelColor1 {
  background-color: #e8555f !important;
}
.feelColor2 {
  background-color: #e9666b !important;
}
.feelColor3 {
  background-color: #ee7d2f !important;
}
.feelColor4 {
  background-color: #f7bb1f !important;
}
.feelColor5 {
  background-color: #3e93a7 !important;
}
.feelColor6 {
  background-color: #4aa9bf !important;
}
.feelColor7 {
  background-color: #9ad2c5 !important;
}

/*ThirdCardContainer*/

.thirdFirstContainer {
  margin-top: 26px;
  margin-left: 57px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.CardOverviewAreaContainer .overAreaTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 17px;
}
.CardOverviewAreaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.thirdSecondContainer {
  padding: 26px 0px 0px 11px;
  display: flex;
  gap: 12px;
}

/*CARD GEOGRAPHIC*/

.profileSocialAndGeo {
  display: flex;
}
.CardProfileGeographic {
  padding: 16px 28px 27px 28px;
  margin-top: 26px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  margin-left: 46px;
}
.geoContainer {
  border: 2px #2691a3 solid;
  border-radius: 10px;

  /* padding: 14px 25px 10px 25px; */
}

.geoContainer .getTitle {
  border-bottom: 2px solid #2691a3;
  padding: 14px 174px 10px 24px;
  color: #2691a3;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.iconcupp {
  position: absolute;
  right: 20px;
}

.getAreaListContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 6px 24px;
  height: 120px;
  overflow-y: scroll;
}
.geoAreaList {
  color: #848484;
}

.CardProfilePreviewContainer {
  margin: 26px 0px 0px 47px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
.checkboxContainerProifle {
  width: 299px;
  height: 120px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.24);
}
.CardProfilePreviewContainer .previewButtons {
  display: flex;
  gap: 6px;
}
.CardProfilePreviewContainer .previewButtons .saveButtonP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 90px;
  border: 2px solid #2691a3;
  border-radius: 6px;
  background-color: #2691a3;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.CardProfilePreviewContainer .previewButtons .previewButton:hover {
  color: white;
  background-color: #2691a3;
}
.CardProfilePreviewContainer .previewButtons .previewButton {
  border: 2px solid #2691a3;
  height: 39px;
  width: 90px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.profileServiceTitle {
  font-size: 14px;
  font-weight: bold;
}
.checkboxContainerProifle .yesButtonProfile:hover {
  background-color: #2691a3;
  color: white;
}
.checkboxContainerProifle .yesButtonProfile {
  padding: 9px 16px;
  border: 2px solid #2691a3;
  font-size: 13px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
}
.checkboxContainerProifle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.CardProfilePreviewContainer .profileTwoButtons {
  display: flex;
  gap: 9px;
}
.iconContainerModal {
  display: flex;
}
.CardOverviewAreaContainer .profileIconsModal {
  display: flex;
  position: relative;
  flex-direction: column;
  border-right: 1px solid #2691a3;
  padding-right: 7px;
}
.lineLight {
  /* transform: translateX(140px); */
  height: 5px;
  /* width: 140px; */
  z-index: 3;
  background-color: #93d3c5;
  position: absolute;
  right: 0;
  top: 20px;

  border-radius: 5px 5px 5px 0px;
}
.smallBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listofwellbeing {
  display: flex;
  width: 90%;
  padding: 5px 5px;
  border-bottom: 2px solid #2691a3;
  justify-content: space-between;
  align-items: center;
  font-size: 15px !important;
}
.line3 {
  top: 55px !important;
}
.line4 {
  top: 70px !important;
}
.line5 {
  top: 105px !important;
}
.line6 {
  top: 120px !important;
}
.line7 {
  top: 155px !important;
}
.line8 {
  top: 170px !important;
}
.line9 {
  top: 200px !important;
}
.line10 {
  top: 215px !important;
}
.line11 {
  top: 250px !important;
}
.line12 {
  top: 265px !important;
}
.lineDark {
  right: 0;
  /* transform: translateX(140px); */
  height: 5px;
  /* width: 140px; */
  z-index: 3;
  background-color: #2691a3;
  border-radius: 5px 5px 5px 0px;
  position: absolute;
  top: 5px;
}
.divLine1 {
  width: 1px;
  background-color: #2691a3;
}

.overviewlines {
  display: flex;
  gap: 45px;
}
.CardOverviewAreaContainer .profileLinksPreview {
  padding-bottom: 0px !important;
}

.CardOverviewAreaContainer .buttonModalTitle {
  font-size: 11px;
  padding: 0px 0px !important;
}
.CardOverviewAreaContainer .profileModalButton .buttonModalTitle {
  background-color: #2691a3;
  padding: 5px 10px !important;
  border-radius: 4px;
}
.CardOverviewAreaContainer .profileModalButton {
  display: flex;
  gap: 8px;
  background-color: white;
  margin-top: 0px !important;
}

.CardOverviewAreaContainer .profileLinksPreview {
  padding: 0px;
}

.cardContainer .addProfileLogoo label {
  margin-top: 20px;
  font-size: 7px;
  font-weight: bold;
}

.cardContainer .addProfileLogoo {
  align-items: center;
  gap: 13px;
}
.cardContainer .addProfileLogoo label img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.cardContainer .addProfileLogoo label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardContainer .addProfileLogoo input {
  display: none;
}
.addLogo23 {
  /* display: flex;
  flex-direction: column; */
}
.pdffileUpload input::-webkit-input-placeholder {
  color: #2691a3;
  position: absolute;
  bottom: 0;
}
.pdffileUpload input {
  background-color: inherit;
}

.pdffileUpload {
  display: flex;
  gap: 15px;
}
.topWellbeingContainer {
  background-color: rgba(85, 143, 211, 0.1);
  width: 244px;
  border-radius: 15px;
  padding: 10px;
}
.topWellbeingContainer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0px;
}
.topWellbeingContainer ul li {
  padding: 0px 5px;
  color: black !important;
  border-bottom: 2px solid #2691a3;
}
.topWellbeingContainer ul li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topWellbeingContainer .keyTitle {
  font-size: 12px;
  font-weight: bold;
}
.topWellbeingContainerView ul li {
  /* padding: 0px 20px !important; */
}
.topWellbeingContainerView {
  width: auto !important;
  background-color: inherit !important;
}
.valuesContainer {
  display: flex;
  width: 100%;
  gap: 1px;
  align-self: center;
  text-align: center;
}
.fromwb {
  margin-top: 17px !important;
}
.valuesContainer .value {
  flex: 1;
}
.typeColor {
  display: flex;
  width: 100%;
  align-items: center !important;
}
