.listResourceTitle{
    font-size: 14px;
    color: #2691a3;
}
.iconandrating{
    display: flex;
}
.listResourceContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    
}
.listResourceContainer .resourceCategory{
    background-color: #2691a3;
    color: white;
}
.resourceIconContainer{
    display: flex;
    gap: 13px;
    font-size: 12px;
    align-items: center;
}
.removeIcon{
    background-color: #FFB934;
    padding: 4px 6px;
    border-radius: 5px;
}
.iconandrating{
    display: flex;
    background-color: #FF6667;
    border-radius: 5px;
    padding: 4px 6px;
    gap: 6px;
}