.listResourceTitle {
  flex: 2;
  width: min-content;
  font-size: 14px;
  color: #2691a3;
  font-weight: bold !important;
  padding-left: 20px;
  /* font-size: 14px !important; */
}
.TitleListContainerSingle{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.singleResource .fffffff{
  flex: 4 ;
  display: flex;
  flex-direction: row;
}
.singleResource .resourceIconContainer{
  flex: 1 !important;
}
.singleResource .listResourceTitle{
  flex: 1 !important;
}
.singleResource:hover{
  background: rgba(0, 0, 0, 0.5) !important;
}
.singleResource{
  z-index: 2255555;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(10px);
}
.iconandrating {
  display: flex;
}
.listResourceContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}
.fffffff {
  display: flex;
  gap: 9px;
  flex: 1;
  flex-direction: column;
  margin-right: 25px;
}
.listResourceContainer .resourceCategoryAll {
  flex-wrap: wrap;
  background-color: #2691A3;
  color: white;
  display: flex;
}
.resourceIconContainer {
  flex: 1;
  flex-wrap: wrap;

  display: flex;
  gap: 13px;
  font-size: 12px;
  align-items: center;
}
.listResourceContainer:hover {
background-color: gainsboro;
cursor: pointer;
}
.listResourceContainer {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;
}
.removeIcon {
  background-color: #ffb934;
  padding: 4px 6px;
  border-radius: 5px;
}
.iconandrating {
  display: flex;
  background-color: #ff6667;
  border-radius: 5px;
  padding: 4px 6px;
  gap: 6px;
  min-width: 26px;
  justify-content: center;
  text-align: center;
}
.viewTitle {
  font-weight: bold;
}
