.sidebarContainer{
    display: flex;
    flex-direction: column;
    background-color: #2691A3;
    background: linear-gradient(#43bacfe8, #2691A3);
    height: 100vh;
    max-width: 328px;
    padding-top: 52px !important;
    padding: 0px 9px;
    position: fixed;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.sidebarButtonContainer .sidebarButtonIcon{
    display: flex;
    align-items: center;
}

.sidebarButtonContainer a.active .sidebarButtonListItem {
    background-color: #FFB934;
    border-radius: 15px;
    /* margin: 0px 10px; */
    /* max-width: 310px ; */
    cursor: pointer;
    z-index: 89;
    /* display: initial; */
    /* font-size: 36px !important; */
  }
.logoContainer{

    padding-left: 57px;
    height: 32px;
    width: 102px;
}
.sidebarButtonContainer{
    margin-top: 64px;
    width: 310px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.sidebarButtonListItem{
    padding-left: 57px;
    height: 71px;
    align-items: center;
    display: flex;
    gap: 16px;
    /* margin-bottom: 23px; */
}
.sidebarButtonListItem:hover{
    background-color: #FFB934;
    border-radius: 15px;
    /* margin: 0px 10px; */
    /* max-width: 310px ; */
    cursor: pointer;
   
}

.sidebarProfile{
    width: 100%;
    background-color: #186d7cb3;
    height: 71px;
    position: absolute;
    left: 0;
    bottom:70px;
    display: flex;
    align-items: center;
    
}
.sidebarptitleContainer .psubtitlesidebar{
font-size: 12px;
font-weight: 500;
}
.sidebarptitleContainer .ptitlesidebar{
font-size: 16px;
font-weight: bold;
}
.sidebarProfile .imgSidebarP img{
    margin-left: 28px;
    margin-right: 12px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
.threedotsp{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 34px;
    cursor: pointer;
}